# Determined codeowners file

# explicit default to no owner (this should be the first line)
*

# team-specific repo segments
/master         @nicholasblaskey
/go.mod         @nicholasblaskey
/go.sum         @nicholasblaskey
/agent          @nicholasblaskey
/proto          @nicholasblaskey
